header{
	height: 155px;
	padding: 15px 0;
	background: transparent;
	
	.first-line{
		display: flex;
		align-items: center;
		.header-logo{
		margin:0 auto 45px;
		img{
			height: 68px;
			width: 202px;
			
			}
		}
	}
	
	.navbar{
		&-nav{
			margin: 0 auto;
			.nav-item{
				padding-left: 0;
			}
			.nav-link{
				text-decoration: none;
				position: relative;
				padding: 9px 17px;
				
				&::before{
					content: "";
					top: 80%;
    				left: 50%;
					position: absolute;
					height: 1px;
					width: 0;
					background: $primary-color;
					transition: .3s;
					transform: translateX(-50%);
				}

				&:hover{
					&::before{
						width: 100%;
					}
				}

			}
		}
		ul li{
		&::before{
			display: none;
			}
		}
	}

	
}