header{
	
	padding: 15px 0;
	background: transparent;
	height: 170px;
	z-index: 1;
	background-color: #ECE5DB;
	
	.first-line{
		display: flex;
		align-items: center;
		.header-logo{
		margin:0 auto 45px;
		img{
			height: 68px;
			width: 202px;
			
			}
		}
	}
	
	.navbar{
		transition: .7s;
		height: 0px;
		
		
		&-nav{
			margin: 0 auto;
			.nav-item{
				padding-left: 0;
			}
			.nav-link{
				text-decoration: none;
				position: relative;
				font-weight: 500;
				
				
				&::before{
					content: "";
					top: 80%;
    				left: 50%;
					position: absolute;
					height: 2px;
					width: 0;
					border-radius: 50%;
					background: $primary-color;
					transition: .3s;
					transform: translateX(-50%);
				}

				&:hover{
					&::before{
						width: 90%;
					}
				}

			}
		}
		ul li{
		&::before{
			display: none;
			}
		}

		
	}

	.sticky-style{
		
		height: 50px;
		background-color: #F7F2EB;
		
	}
	
}

