///fonts///
$font-primary: "Pragmatica";
$font-secondary:  "Playfair Display";
$font-product:  "Marck Script";
$font-size: 16px;
$section-title: 32px;

///colors///
$white: #fff;
$black: #000;
$beige: #F7F2EB;

$primary-color: #565857;
$secondary-color: #7B6B6B;


/*grey*/
$label-red: #F93838;
$label-purpur: #8683EF;
$label-green: #70D61F;

$required: $primary-color;
$placeholder: #bdbdbd;

/*text-default*/
$font-size: 16px;
$line-height: 1.4;
$text: #000;

/*   <Breadcrumbs/>   */
$breadcrumbs-slash: $secondary-color;
$breadcrumbs-link: $secondary-color;
$breadcrumbs-link-hover: $primary-color;
$breadcrumbs-last-child: #B2B1B1;

/*   <Muve-top/>   */
$muve-top-background: $primary-color;
$muve-top-color: #F7F2EB;

 