<section class="appeal">
    <div class="container">
        <div class="row">
            <div class="appeal__text col-lg-6 " >
                psssss-ss-s
                <br>
                ....
                <br>
                <br>
                <br>
                Hey!
                <br>
                Hey you passing by, come here!
                Has anybody told you today that you're awesome ?
                <br>
                Yes, You're!
                <br>
                So, don't forget to say the same to your kid ;)
            </div>
        </div>
    </div>
</section>