<section class="greetings">
    <div class="container">
        <div class="greetings-item">
            <p class="greetings__text">“Hello friend, welcome to Cozymoss.
                Here we celebrate the simple necessity of being a child. 
                We admire how it bonds humanity and cultures across time and space. 
                And we believe in the art of childhood, in the traditions it holds and in the future it will bring.”
            </p>
            <div class="greetings__accessory"></div>
            <div class="greetings__author">
                Have a nice trip,
                <br>
                Hugly yours, Cozymossies
            </div>
        </div>

    </div>
</section>
