
<div class='thetop'></div>
<div class='scrolltop'>
    <div  class='muve-top'></div>
</div>
<header>
    <div class="first-line">
        <a href="#" class="header-logo">
            <img src="assets/img/Logo-brand.svg" class="img-fluid " alt="Logo-brand">
        </a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">НАБОРЫ ДЛЯ ТВОРЧЕСТВ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ГОТОВЫЕ ДОМИКИ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ГАРРИ ПОТТЕР</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ЕВРОПЕЙСКИЕ ДОМИКИ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">КАК ЗАКАЗАТЬ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">КАК ЭТО СОБИРАТЬ?</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
    <a href="markup.html" class="markup-link">markup</a>
</header>

