<section class="info">
    <div class="container">
        <div class="row">
            <div class="info__img col-lg-6">
                <img src="assets/img/info-img.png" class="img-fluid" alt="info-img">
            </div>
            <div class="info__text col-lg-6">
                <div class="info__subtitle">OUR HELPING PAW</div>
                <h2 class="info__title">Donation is the new black</h2>
                <div class="info__description">
                    Cozymoss is a world with no assessments and convictions. 
                    Here it is not frightening at all to be yourself, no matter how incredible you are.<br><br>
                    
                    That is why it is so significant for us to support those who are deprived of the opportunity to feel safe. Part of the funds from every purchase is donated to Mila for Africa, which is helping albinos and socially vulnerable people in Africa 
                </div>
            </div>
        </div>

    </div>

</section>