<section class="showcase">
    <div class="container-xxl">
        <h1 class="showcase__title">
            Meet Our Bravest Heroes
        </h1>
        <div class="showcase__description">
            Cosymoss Land is proud of its inhabitants, who have made many children’s hearts happy
        </div>
        <div class="showcase__atr">FIRST LIMITED COLLECTION</div>
        <div class="row showcase__items">
                <div class="product-item col-lg-3">
                    <a href="#" class="product-item__link product1-img "></a>
                    <h4 class="product-item__title">Product Title</h4>
                </div>
                <div class="product-item col-lg-3">
                    <a href="#" class="product-item__link product2-img "></a>
                    <h4 class="product-item__title">Product Title</h4>
                </div>
                <div class="product-item col-lg-3">
                    <a href="#" class="product-item__link  product3-img"></a>
                    <h4 class="product-item__title">Product Title</h4>
                </div>
                <div class="product-item col-lg-3">
                    <a href="#" class="product-item__link  product4-img"></a>
                    <h4 class="product-item__title">Product Title</h4>
                </div>
                <div class="product-item col-lg-3">
                    <a href="#" class="product-item__link  product5-img"></a>
                    <h4 class="product-item__title">Product Title</h4>
                </div>
                <div class="product-item col-lg-3">
                    <a href="#" class="product-item__link  product6-img"></a>
                    <h4 class="product-item__title">Product Title</h4>
                </div>
                <div class="showcase__shop-item col-lg-6  ">
                    <a href="#"><img src="assets/img/Showcase-shop-img.png" class="img-fluid shop-link__img" alt="Showcase-shop-img"></a>
                    
                </div>

        </div>
        <div class="showcase__btn">
            <a href="#" class="btn btn-primary">Еще больше домиков</a>
        </div>
    </div>

</section>