<section class="showcase">
    <div class="container">
        <h2 class="showcase__title">
            Meet Our Bravest Heroes
        </h2>
        <div class="showcase__description">
            Cosymoss Land is proud of its inhabitants, who have made many children’s hearts happy
        </div>
        <div class="showcase__atr">FIRST LIMITED COLLECTION</div>
        <div class="row showcase__items">
                <div class="product-item col-lg-3">
                    <div class="product__img">
                        <img src="assets/img/product-img.png" alt="product-img">
                    </div>
                    <h4 class="product__title">Product Title</h4>
                </div>
                <div class="product-item col-lg-3">
                    <div class="product__img">
                        <img src="assets/img/product-img.png" alt="product-img">
                    </div>
                    <h4 class="product__title">Product Title</h4>
                </div>
                <div class="product-item col-lg-3">
                    <div class="product__img">
                        <img src="assets/img/product-img.png" alt="product-img">
                    </div>
                    <h4 class="product__title">Product Title</h4>
                </div>
                <div class="product-item col-lg-3">
                    <div class="product__img">
                        <img src="assets/img/product-img.png" alt="product-img">
                    </div>
                    <h4 class="product__title">Product Title</h4>
                </div>
                <div class="product-item col-lg-3">
                    <div class="product__img">
                        <img src="assets/img/product-img.png" alt="product-img">
                    </div>
                    <h4 class="product__title">Product Title</h4>
                </div>
                <div class="product-item col-lg-3">
                    <div class="product__img">
                        <img src="assets/img/product-img.png" alt="product-img">
                    </div>
                    <h4 class="product__title">Product Title</h4>
                </div>
                <div class="showcase__shop-item col-lg-6">
                    <div class="showcase__shop-item__img">
                        <img src="assets/img/Showcase-shop-img.png" alt="Showcase-shop-img">
                    </div>
                    
                </div>

        </div>
    </div>

</section>